h1 {
  font-weight: 500;
  font-size: 32px;
  font-family: 'Ubuntu medium',sans-serif;
}

ul {
  padding: 0;
}

h2 {
  font-weight: 500;
  font-family: 'Ubuntu medium',sans-serif;
  font-size: 28px;
}

p {
  font-family: 'Ubuntu regular', sans-serif;
  font-weight: 400;
  font-size: 18px;
}



a.nonunderlined {
  font-size: inherit;
  font-weight: 400;
  text-decoration: none;
  color: var(--primary-01);
  &:hover {
    color: var(--primary-02);
  }
  &:active {
    color: var(--primary-03);
  }
}

a.link {
  font-size: inherit;
  font-weight: 400;
  color: var(--grey-011);
  &:hover {
    color: var(--primary-01);
  }
  &:active {
    color: var(--primary-03);
  }
}