@import "theme";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import "./variables";
@import './font';
@import './defaults';
@import './custom'; // custom change of primeVue




* {
  //padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu regular', sans-serif;
}

.df {
  display: flex;
  align-items: center;
}


